/* General style */
body{
	font-family: Calibri, Arial, sans-serif;
	color: #4c4c4c;
}

a{
	cursor: pointer;
}

.container{
	width: 1200px;
	margin: 0 auto;
	padding: 5px 20px 20px 20px;
	font-size: 1em;
}

.container p{
	line-height: 18px;
}

.container ul li{
	margin: 5px 0;
}

/* Page title and description */
.page-title{
	text-align: center;
}

.page-title h1{
	font-size: 1.3em;
	font-weight: normal;	
	margin-bottom: 0;
}

.page-title p{
	font-size: 1em;
	font-style: italic;
}

/* Navigation bar */

.navigation-bar{
	width: 100%;
	border-bottom: solid 1px #c4c4c4;
}

.navigation-bar ul{ 
	text-align: center;
	padding: 0;
	margin: 0;
}

.navigation-bar ul li{
	list-style: none;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}

.navigation-bar li.active{
	border-bottom: solid 3px #4c4c4c;
	font-weight: bold;
}

.navigation-bar a{
	color: #4c4c4c;
	text-decoration: none;
}

.navigation-bar a:hover{
	color: #19641C;
}

#page-visual{
	display: flex;
}

/* Legend */


/* List of articles */
.article-select{
	margin-top: 20px;
}
.article-select>div{
    margin-bottom: 6px;
    font-size: .9em;
    padding: 7px;
}

.article-select>div:hover{
	background-color: #eee;
}

.article-select>div.selected{
	background-color: #4c4c4c;
	color: #fff;
	border-radius: 3px;
}
/* Visualization */
/*.visual-container svg{
	background-color: #4c4c4c;
}*/
text{
	font-size: 0.7em;
	fill: #fff;
}

.legend {
	display: flex;
}

.legend text{
	font-size: 1.2em;
	fill: #4c4c4c;
}

tspan{
	display: block;
}
